
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js" chatset="utf-8"></script>
    </head>
    <body>

        <div id="mario-chat">
            <h2>CHat checker</h2>
            <div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>
            <input id="handle" type="text" placeholder="username" />
            <input id="message" type="text" placeholder="Message" />
            <hr>
            
            <button id="send" onclick="send()">Send</button>
             

            
            
        </div>
<div id="onliners">
</div>

    </body>
    <script >
    
    
    
    
    
    // Make connection
var socket = io.connect('http://localhost:3000');

// Query DOM
var message = document.getElementById('message'),
      handle = document.getElementById('handle'),
      room = document.getElementById('room'),
      btn = document.getElementById('send'),
      output = document.getElementById('output'),
      feedback = document.getElementById('feedback');
      onliners = document.getElementById('onliners');  
// Emit events
btn.addEventListener('click', function(){
    handle.setAttribute("disabled",true);
    socket.emit('chat', {
        message: message.value,
        handle: handle.value
    });
    message.value = "";
});

message.addEventListener('keypress', function(){
    socket.emit('typing', handle.value);
})

// Listen for events
socket.on('chat', function(data){
    feedback.innerHTML = '';
    output.innerHTML += '<p><strong>' + data.handle + ': </strong>' + data.message + '</p>';
});

socket.on('typing', function(data){
    feedback.innerHTML = '<p><em>' + data + ' is typing a message...</em></p>';
});



socket.on('connect',function(){
    socket.emit("whoisonline");
});
socket.emit('disconnect',function(){
    socket.emit("whoisonline");
});

socket.on("onliners",function(data){
document.getElementById('onliners').innerHTML = data;
});


function send(){
socket.emit("connectwith");
socket.emit("whoisonline");
 
}

function login(){
     
   socket.emit('udata',{
    userName:handle.value,
    room:room.value
});}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </script>
</html>
